/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
     background-color:whitesmoke;
 }
 .login{
    position: relative;
    background: rgb(144, 171, 172);
    max-width: 500px;
    max-height: 40px;
    margin: 0 auto 100px;
    padding: 45px;
    color: black;
    font-size: larger;
    border-radius: 25px;
    
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .button{
      text-align: center;
      color: green;
  }

  .login-h1{
      text-align: center;
      color: rgb(145, 90, 7);
  }
a {
    text-decoration: none;
}


.background-image{
    min-height: 300px;
    line-height: 300px;
    text-align: center;
    max-width: 60%;
    margin: 0px auto;
    background-image: url(https://home.bt.com/images/200-years-of-roller-coasters-everything-you-need-to-know-about-their-history-136420406706703901-170816142659.jpg);
    background-repeat: repeat-x;
    border-radius: 55px;
}
.new-user{
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #903dac;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 25px;
    transition: 1s;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background-color: rgba(243, 237, 237, 0.452);
    padding: 15pix;
    margin: 20pix;
    box-shadow: 0 4px 8px 0 rgb(142 0 255 / 76%);
    text-align: center;

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .myClass {
    background-color: #f2f2f2;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(142 0 255 / 76%);
}

.myClass:hover{
  transition: 1s;
  text-transform: unset;
  background-color: rgb(142 0 255 / 70%)
}

}
html, body{ 
    width:100%;
    font-family: "Lobster", serif;
  }
.home-image{
    width: 100%;
    margin:0px auto;
    
}
.home-h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
}

.home-page{
    background: url(https://all.accor.com/magazine/imagerie/dubai-six-flags_72dpi-2f4c.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    line-height: 800px;
    text-align: center;
    max-width: 100%;
    margin: 0px auto;
    position: relative;
    
}

.main-div{
    box-shadow: 0 4px 8px 0 rgb(142 0 255 / 76%);
    transition: 0.3s;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 25px;
    
    margin: 0 auto;

}


.resevation{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.ride-h1{
    text-align:center ;

}
.btnedit{
    text-align: center;
    color: rgb(128, 0, 75);
    background-color: aqua;
}
.index-card{
    position: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(142 0 255 / 76%);
    transition: 0.3s;
    width: 30%;
    border-radius: 10px;
    margin: 15px
}

.index-card:hover{
    background-color: rgb(142 0 255 / 70%);
}

.index-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 25px;
}

path {
  fill: transparent;
}


/* input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } */

  .reservation{
    position: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(142 0 255 / 76%);
    transition: 0.3s;
    width: 100%;
    border-radius: 10px;
  }

  .h1-res{
    text-align:center ;
  }

  .myClass1{
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
  }
  .myClass1:hover{
    transition: 3s;
    filter: hue-rotate(80deg);
  }
  
  .mydelete{
    background-color: #f2f2f2;
    border: none;
    border-radius: 15px;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(142 0 255 / 76%);
  }

  .mydelete:hover{
    transition: 1s;
    background-color: rgb(142 0 255 / 70%)
  }
  .flash{
    text-align: center;
    color: red;
  }

